@model List<TravelTripProject.Models.Classes.Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Mesajlar</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive pt-3">
                <table class="table table-striped project-orders-table">
                    <thead>
                        <tr>
                            <th class="ml-5">#</th>
                            <th>İsim Soyisim</th>
                            <th>E-Posta Adresi</th>
                            <th>Gönderme Tarihi</th>
                            <th>Mesajı</th>
                            <th>Sil</th>
                            <th>Detay</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.NameSurname</td>
                                <td>@item.Email</td>
                                <td>@item.CreatedDate</td>
                                <td>@(item.Description.Length > 30 ? item.Description.Substring(0, 30) + "..." : item.Description)</td>
                                <td><a href="/AdminMessage/DeleteMessage/@item.Id" class="btn btn-danger">Sil</a></td>
                                <td><a href="/AdminMessage/MessageDetails/@item.Id" class="btn btn-info">Mesajı Gör</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<br />
